.title{
   margin:5px 140px ;
   align-items: center;
  


 width: 1320px;
height: 600px;
flex-shrink: 0;background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);





border-radius: 16px;
      background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),

      url('Banner\ Image.png');  
  
}

 .hn{
    padding: 177px 530px 0px;
    color: #FFF;
text-align:center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
 
}
.hp{
    width: 632px;
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px; 
font-style: normal;
font-weight: 900;
line-height: 95px;
margin: 0px 344px 190px;
;

}
.section1{
   margin: 120px 400px;
   font-family: Inter;
}
.div2{
    color: #F00;
text-align: center;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}
.div3{
    color: #F00;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0px;
}
.div4{
    color: #070211;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}
.img2{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.section2{
    margin-left: 140px;
    margin-right: 140px;
}
.bg1{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Vectorrr.png');
    
    width: 1320px;
height: 600px;
flex-shrink: 0;
display: flex;
margin-bottom: 120px;
}
.wp{
    color: #FFF;
    width: 642px;
    padding: 70px 95px 5px 126px;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.do{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    padding: 0 39px 48px 126px;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.join{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 0px 600px 142px 158px;
}
.img3{
    padding: 68px 138px 68px 30px;
}
.div7{
    width: 1320px;
height: 482px;
flex-shrink: 0;
margin-bottom: 120px;
background-image:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}
.time{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 31px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 175% */
text-transform: capitalize;
padding-bottom: 2px;
}
.orange{
    color: #F00;
}
.div8{
    padding: 100px 385px 48px;
}
.btn{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 16px 32px;
border-radius: 8px;
background: #F00;
justify-content: center;
align-items: center;
gap: 10px;
border: none;
}
.div9{
    padding: 0 576px 110px;
}
.div10{
    width: 1600px;
height: 735px;
margin-bottom: 120px;
display: flex;
}
.h1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 0px;
padding-right: 256px;
}
.h2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
padding-bottom: 12px;
}
.p1{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.h4{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p3{
    width: 276px;
    padding-bottom: 43px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.img6{
    width: 140px;
height: 140px;
flex-shrink: 0;
}
.img5{
    border-radius: 463px;
border: 15px solid #F00;
padding: 30px;
}
.div13{
    padding-left: 115px;
    /* padding-top: 110px; */

}
.h6{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 528px;
padding-right: 529px;
padding-bottom: 0px;
}
.h7{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 0 320px 0px 320px;
}.or{
    color: #F00;
}
.div17{
    width: 1600px;
height: 735px;
}
.p5{
    width: 888px;
    padding: 0 100px 50px 160px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}
.img8{
    width: 1320px;
height: 229px;
flex-shrink: 0;
padding-top: 0px;
}
.mulimg{
    display: flex;
}
.img9{
    width: 429px;
height: 433px;
flex-shrink: 0;
border-radius: 16px 16px 0px 0px;
background: url(<path-to-image>), lightgray -59.98px 0px / 151.553% 100% no-repeat;

}
.img10{
    width: 206.841px;
height: 206.841px;
flex-shrink: 0;
padding: 2px;
}
.img11{
    width: 278.09px;
height: 333.424px;
flex-shrink: 0;
margin-left: 400px;
fill: linear-gradient(280deg, #A35F33 13.65%, #ED9133 20.11%, #D48033 22.98%, #B96E33 25.85%, #A96333 28.72%, #A35F33 30.87%, #A96634 32.3%, #E6AD3C 50.95%, #F8D566 58.84%, #FFE677 63.15%, #FADE73 64.58%, #EBC968 66.74%, #D3A657 68.89%, #B2753E 71.76%, #A46034 73.19%, #C08948 73.91%, #D7AB59 74.63%, #E8C566 76.06%, #F5D770 76.78%, #FDE275 78.21%, #FFE677 78.93%, #FEE374 80.36%, #FCD86C 81.8%, #F8C65D 83.23%, #F3AD49 84.67%, #ED9133 85.39%);
}
